
.download{
    display: grid;
    grid-template-columns: repeat(3,160px);
    justify-content: center;
    flex-wrap: wrap;
}
.download div{
    background-color: cornflowerblue;
    margin: 5px;
    color: rgb(249, 249, 249);
    padding: 1em;
    width: 150px;
    height: 200px;
    display: inline-block;
}