*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}


header{
    display: flex;
    align-items: center;
    background-color: #2A73C7;
    height: 100px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 1em 2em;
}

.main-menu{
    display: flex;
}
.main-menu li{
    list-style: none;
    margin: 0 5px;
}
.main-menu li a{
    text-decoration: none;
}

@media screen and (max-width:800px){
    header{
        
        position: relative;
    }

    .main-menu{
        flex-direction: column;
        justify-content: flex-start;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #2E2D2E;
        width: 70%;
        height: calc(100vh - 100px);
        padding: 2em;
    }

    .main-menu li{
        padding: 1em;

    }
    .main-menu li a{
        color: #0e71ce;
    }
}